# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [4]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv("..//Weather_Database/WeatherPy_database.csv")

# Display sample data
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Faanui,PF,-16.4833,-151.7500,79.36,74,28,8.10,scattered clouds
1,1,Saint-Philippe,RE,-21.3585,55.7679,67.59,81,50,9.42,scattered clouds
2,2,Bluff,NZ,-46.6000,168.3333,48.81,60,61,15.35,broken clouds
3,3,Victoria,HK,22.2855,114.1577,80.65,65,39,8.99,scattered clouds
4,4,Mahebourg,MU,-20.4081,57.7000,71.26,88,75,3.44,broken clouds
5,5,Thompson,CA,55.7435,-97.8558,30.36,69,100,9.22,overcast clouds
6,6,Emerald,AU,-23.5333,148.1667,87.35,46,42,10.85,scattered clouds
7,7,Hermanus,ZA,-34.4187,19.2345,64.80,84,32,10.94,scattered clouds
8,8,Vaini,TO,-21.2000,-175.2000,77.16,65,75,17.27,broken clouds
9,9,Puerto Ayora,EC,-0.7393,-90.3518,66.54,89,90,3.00,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [5]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for the trip?"))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for the trip?"))

What is the minimum temperature you would like for the trip?75
What is the maximum temperature you would like for the trip?110

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [6]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                      (city_data_df['Max Temp'] >= min_temp)] 
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Faanui,PF,-16.4833,-151.7500,79.36,74,28,8.10,scattered clouds
3,3,Victoria,HK,22.2855,114.1577,80.65,65,39,8.99,scattered clouds
6,6,Emerald,AU,-23.5333,148.1667,87.35,46,42,10.85,scattered clouds
8,8,Vaini,TO,-21.2000,-175.2000,77.16,65,75,17.27,broken clouds
18,18,Alyangula,AU,-13.8483,136.4192,87.21,67,21,11.36,few clouds
26,26,Hithadhoo,MV,-0.6000,73.0833,81.21,74,94,7.78,overcast clouds
31,31,Bilma,NE,18.6853,12.9164,76.14,28,63,13.42,broken clouds
36,36,Kapaa,US,22.0752,-159.3190,81.10,82,75,12.66,moderate rain
38,38,Norsup,VU,-16.0667,167.3833,78.08,84,97,6.87,heavy intensity rain
40,40,Lincoln,US,40.8000,-96.6670,80.51,50,100,28.77,overcast clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [9]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Faanui,PF,-16.4833,-151.7500,79.36,74,28,8.10,scattered clouds
3,3,Victoria,HK,22.2855,114.1577,80.65,65,39,8.99,scattered clouds
6,6,Emerald,AU,-23.5333,148.1667,87.35,46,42,10.85,scattered clouds
8,8,Vaini,TO,-21.2000,-175.2000,77.16,65,75,17.27,broken clouds
18,18,Alyangula,AU,-13.8483,136.4192,87.21,67,21,11.36,few clouds
26,26,Hithadhoo,MV,-0.6000,73.0833,81.21,74,94,7.78,overcast clouds
31,31,Bilma,NE,18.6853,12.9164,76.14,28,63,13.42,broken clouds
36,36,Kapaa,US,22.0752,-159.3190,81.10,82,75,12.66,moderate rain
38,38,Norsup,VU,-16.0667,167.3833,78.08,84,97,6.87,heavy intensity rain
40,40,Lincoln,US,40.8000,-96.6670,80.51,50,100,28.77,overcast clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [11]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[['City', 'Country', 'Max Temp', 'Description', 'Lat', 'Lng']].copy()


# Display sample data
hotel_df.head(10)

         City Country  Max Temp           Description      Lat       Lng
0      Faanui      PF     79.36      scattered clouds -16.4833 -151.7500
3    Victoria      HK     80.65      scattered clouds  22.2855  114.1577
6     Emerald      AU     87.35      scattered clouds -23.5333  148.1667
8       Vaini      TO     77.16         broken clouds -21.2000 -175.2000
18  Alyangula      AU     87.21            few clouds -13.8483  136.4192
26  Hithadhoo      MV     81.21       overcast clouds  -0.6000   73.0833
31      Bilma      NE     76.14         broken clouds  18.6853   12.9164
36      Kapaa      US     81.10         moderate rain  22.0752 -159.3190
38     Norsup      VU     78.08  heavy intensity rain -16.0667  167.3833
40    Lincoln      US     80.51       overcast clouds  40.8000  -96.6670

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [12]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Faanui,PF,79.36,scattered clouds,-16.4833,-151.7500,
3,Victoria,HK,80.65,scattered clouds,22.2855,114.1577,
6,Emerald,AU,87.35,scattered clouds,-23.5333,148.1667,
8,Vaini,TO,77.16,broken clouds,-21.2000,-175.2000,
18,Alyangula,AU,87.21,few clouds,-13.8483,136.4192,
26,Hithadhoo,MV,81.21,overcast clouds,-0.6000,73.0833,
31,Bilma,NE,76.14,broken clouds,18.6853,12.9164,
36,Kapaa,US,81.10,moderate rain,22.0752,-159.3190,
38,Norsup,VU,78.08,heavy intensity rain,-16.0667,167.3833,
40,Lincoln,US,80.51,overcast clouds,40.8000,-96.6670,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [13]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [14]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params = params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Faanui,PF,79.36,scattered clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
3,Victoria,HK,80.65,scattered clouds,22.2855,114.1577,Mini Central
6,Emerald,AU,87.35,scattered clouds,-23.5333,148.1667,The Irish Village
8,Vaini,TO,77.16,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
18,Alyangula,AU,87.21,few clouds,-13.8483,136.4192,Groote Eylandt Lodge
26,Hithadhoo,MV,81.21,overcast clouds,-0.6000,73.0833,Scoop Guest House
31,Bilma,NE,76.14,broken clouds,18.6853,12.9164,Expeditions Ténére voyages
36,Kapaa,US,81.10,moderate rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
38,Norsup,VU,78.08,heavy intensity rain,-16.0667,167.3833,Nabelchel Bungalows
40,Lincoln,US,80.51,overcast clouds,40.8000,-96.6670,Courtyard by Marriott Lincoln Downtown/Haymarket

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [16]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,Faanui,PF,79.36,scattered clouds,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
3,Victoria,HK,80.65,scattered clouds,22.2855,114.1577,Mini Central
6,Emerald,AU,87.35,scattered clouds,-23.5333,148.1667,The Irish Village
8,Vaini,TO,77.16,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
18,Alyangula,AU,87.21,few clouds,-13.8483,136.4192,Groote Eylandt Lodge
26,Hithadhoo,MV,81.21,overcast clouds,-0.6000,73.0833,Scoop Guest House
31,Bilma,NE,76.14,broken clouds,18.6853,12.9164,Expeditions Ténére voyages
36,Kapaa,US,81.10,moderate rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
38,Norsup,VU,78.08,heavy intensity rain,-16.0667,167.3833,Nabelchel Bungalows
40,Lincoln,US,80.51,overcast clouds,40.8000,-96.6670,Courtyard by Marriott Lincoln Downtown/Haymarket

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [17]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)
clean_hotel_df.count()

City           168
Country        168
Max Temp       168
Description    168
Lat            168
Lng            168
Hotel Name     168
dtype: int64

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [18]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label = "City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [21]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [22]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Bora-Bora Pearl Beach Resort & Spa</dd>\n<dt>City</dt><dd>Faanui</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 79.36 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Mini Central</dd>\n<dt>City</dt><dd>Victoria</dd>\n<dt>Country</dt><dd>HK</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 80.65 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>The Irish Village</dd>\n<dt>City</dt><dd>Emerald</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 87.35 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>broken clouds and 77.16 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Groote Eylandt Lodge</dd>\n<dt>City</dt><dd>Alyangula</dd>\n<dt>Country</dt><dd>AU</dd>\n<dt>Current Weather</dt><dd>few clouds and 87.21 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.21 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Expeditions Ténére voyages</dd>\n<dt>City</dt><dd>Bilma</dd>\n<dt>Country</dt><dd>NE</dd>\n<dt>Current Weather</dt><dd>broken clouds and 76.14 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Sheraton Kauai Coconut Beach Resort</dd>\n<dt>City</dt><dd>Kapaa</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>moderate rain and 81.1 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Nabelchel Bungalows</dd>\n<dt>City</dt><dd>Norsup</dd>\n<dt>Country</dt><dd>VU</dd>\n<dt>Current Weather</dt><dd>heavy intensity rain and 78.08 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Courtyard by Marriott Lincoln Downtown/Haymarket</dd>\n<dt>City</dt><dd>Lincoln</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 80.51 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [23]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
0  -16.4833 -151.7500
3   22.2855  114.1577
6  -23.5333  148.1667
8  -21.2000 -175.2000
18 -13.8483  136.4192
26  -0.6000   73.0833
31  18.6853   12.9164
36  22.0752 -159.3190
38 -16.0667  167.3833
40  40.8000  -96.6670

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [24]:
# Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Create a figure to add the Google map as a layer
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))